<div class="inventory">
    <div id="items">
        
    </div>
</div>
<div id="root"></div>
<div id="ui">
    <input type="text" id="nick">
    <span id='wait'></span>
    <button id="ready">Gotowy</button>
</div>
<script>
    $.getScript("/javascripts/libs/three_ver97.js", function () {
        $.getScript("/javascripts/elements/stack.js", function () {
            $.getScript("/javascripts/world/NetTexture.js", function () {
                $.getScript("/javascripts/libs/OrbitControls.js", function () {
                    var imported = document.createElement('script');
                    imported.src = "/javascripts/world/Main.js"
                    document.head.appendChild(imported);
                });
            });
        });
    });
</script>