<div class="container">
    <div class="row">
        <div class="d-flex lobby-content">

            <div class="col-sm-4 d-flex flex-column lobby-col-guess reglog">
                <button onclick="window.location.href = '/users/login/'" class="btn btn-success">
                    <div class="card b-transparent lobby-card">
                        <div class="card-header">
                            <h3>
                                Zaloguj się
                            </h3>
                        </div>
                        <div class="card-body">
                            <p class="mb-1">Masz już konto?</p>
                            <p class="mb-1">Zaloguj się, aby móc zapisywać swoje wyniki!</p>
                        </div>
                    </div>
                </button>
            </div>
            <div class="col-sm-4 d-flex flex-column lobby-col-guess join">
                <button onclick="window.location.href = '/world/quest'" class="btn btn-success d-flex justify-content-center text-center lobby-col-guess-btn ">
                    <div class="card b-transparent lobby-card">
                        <div class="card-header">
                            <h3 class="w-100 p-2">Dołącz jako gość</h3>
                        </div>
                        <div class="card-body">
                            <p class="p-2">Nie chcesz zakładać konta?
                                <br/>Nic nie szkodzi! <br/>Zagraj w quiz bez problemu, jako gość!
                            </p>
                            <p class="p-2">Jako gość nie możesz niestety zapisać wyników!</p>
                        </div>
                    </div>
                </button>
            </div>
            <div class="col-sm-4 d-flex flex-column lobby-col-guess">
                <button onclick="window.location.href = '/users/register/'" class="btn btn-success">
                    <div class="card b-transparent lobby-card">
                        <div class="card-header">
                            <h3>Zarejestruj się</h3>
                        </div>
                        <div class="card-body">
                            <p class="mb-1">Chcesz się zarejestrować?</p>
                            <p class="mb-1">Graj w quiz w trybie rankingowym oraz rywalizuj z innymi!</p>
                        </div>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>